<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <TC3BUILD_RUN_INTEGRATION_TESTS>1</TC3BUILD_RUN_INTEGRATION_TESTS>
      <TC3BUILD_INTEGRATION_HOSTS>vs2026,vs2022,vs2019,xae2022,xae2019,xae2017,xae</TC3BUILD_INTEGRATION_HOSTS>
      <TC3BUILD_INTEGRATION_PROJECT>D:\Git\tc3-build\twincat\Project\Project.slnx</TC3BUILD_INTEGRATION_PROJECT>
      <TC3BUILD_INTEGRATION_PROJECT_NAME>Project</TC3BUILD_INTEGRATION_PROJECT_NAME>
      <TC3BUILD_INTEGRATION_LIBRARY_PROJECT_NAME>Library</TC3BUILD_INTEGRATION_LIBRARY_PROJECT_NAME>
      <TC3BUILD_INTEGRATION_CONFIGURATION>Debug</TC3BUILD_INTEGRATION_CONFIGURATION>
      <TC3BUILD_INTEGRATION_PLATFORM>TwinCAT RT (x64)</TC3BUILD_INTEGRATION_PLATFORM>
      <TC3BUILD_INTEGRATION_ALLOW_ACTIVATE>1</TC3BUILD_INTEGRATION_ALLOW_ACTIVATE>
      <TC3BUILD_INTEGRATION_ALLOW_INSTALL_LIBRARY>1</TC3BUILD_INTEGRATION_ALLOW_INSTALL_LIBRARY>
      <TC3BUILD_INTEGRATION_SILENT>1</TC3BUILD_INTEGRATION_SILENT>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
